<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <p>This is your favourite blog to share your recipes of the most amazing dishes!</p>
    <div class="blogs content">
        <h2>All Blogs</h2>

        <% if (blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                <h3 class="title"><%= blog.title %></h3>
                <p class="snippet"><%= blog.snippet %></p>

           <% }) %>
    <% } else { %>
        <p>There are no blogs to display...</p>
   <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>